.column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex: 1 1;
  flex-basis: 0;
}
.temp {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
}
.icon i {
  font-size: 2em;
  line-height: 1.7;
}
