#page-container {
  margin: auto;
  width: 70%;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#day-container {
  display: flex;
  flex-wrap: wrap;
}
