#page-container {
  margin: auto;
  width: 80%;
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eee;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}
#day-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
}
