@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.Post {
  width: 50%;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 20px;
  background-color: whitesmoke;
  height: auto;
  font-family: "Roboto", sans-serif;
}

.LocationInfo {
  text-align: center;
}

.WeatherDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}
.Temp {
  font-size: 3em;
  line-height: 1.7;
}
.Weather-description-1 {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
.Description {
  font-size: 20px;
  /* font-weight: bold; */
}
i {
  padding-right: 5px;
}
